:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --logo-text-color: #000000;
  --primary-text-color: #212121;
  --tittle-text-color: #757575;
  --light-color: #ffffff;
  --background-color-bnt-light: #f5f4fa;
  --background-color-btn-colored: #188ce8;
  --acent-color: #2196f3;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
}
/*START HEADER*/

.header-logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--acent-color);
}
.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-text-color);
}
.nav-list-link,
.contact-mail {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.nav-list-link:hover,
.contact-mail:hover,
.contact-number:focus,
.contact-number:hover,
.nav-list-link:focus,
.contact-mail:focus {
  color: var(--acent-color);
}
.contact-number {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--tittle-text-color);
}

/*END HEADER*/

/*START MAIN SECTION*/

h1 {
  font-family: var(--primary-font-family) f;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* var(--light-color); */
}
.modal-btn {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--light-color);
  background-color: var(--acent-color);
  cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--background-color-btn-colored);
}
.decisions-title {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.decisions-text {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71x;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
}
.about-title,
.about-team-title {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.team-title {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.team-text {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
}
/*END MAIN SECTION*/

/*START FOOTER*/
.adress-link {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  /* color:var(--light-color) */
}
.mail-number-link {
  font-family: var(--primary-font-family);
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  /*color: rgba(255, 255, 255, 0.6);*/
}
.adress:hover,
.adress:focus {
  color: var(--acent-color);
}

/*END FOOTER*/

/*====================PORTFOLIO================*/

/*START MAIN SECTION Portfolio*/
.btn-list {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--background-color-bnt-light);
  cursor: pointer;
}
.btn-list:hover,
.btn-list:focus {
  background-color: var(--acent-color);
  color: var(--light-color);
}
.examples-title {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.examples-text {
  font-family: var(--primary-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
}

/*END MMAIN SECTION  Portfolio*/
